// COLORS
$securitylevel1Background: #f08080;
$securitylevel1Foreground: #8b0000;

$securitylevel2Background: #f0e68c;
$securitylevel2Foreground: #b8860b;

$securitylevel3Background: #90ee90;
$securitylevel3Foreground: #006400;
