.tx-spl-easylock-securitylevel {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    padding: 4px 10px;

    &.notSecure {
        background-color: $notSecureBackground;
        color: $notSecureForeground;
    }

    &.midSecure {
        background-color: $midSecureBackground;
        color: $midSecureForeground;
    }

    &.secure {
        background-color: $secureBackground;
        color: $secureForeground;
    }
}