<div class="tx-easylock">
    <h1>
        <f:translate key="LLL:typo3conf/ext/easylock/Resources/Private/Language/locallang.xlf:tx_easylock.headline" />
    </h1>

    <f:if condition="{passwordfail} == 'true'">
        <div class="tx-easylock-alert">
            <f:translate key="LLL:typo3conf/ext/easylock/Resources/Private/Language/locallang.xlf:tx_easylock.alert" />
        </div>
    </f:if>

    <form action="" method="post" class="tx-easylock-form">
        <input type="password" name="easylock" value="" placeholder="{f:translate(key: 'LLL:typo3conf/ext/easylock/Resources/Private/Language/locallang.xlf:tx_easylock.placeholder', extensionName: 'easylock')}"/>
        <button type="submit">
            <f:translate key="LLL:typo3conf/ext/easylock/Resources/Private/Language/locallang.xlf:tx_easylock.submit" />
        </button>
    </form>
</div>